.infobox{
  width: 100%;
  max-width: 900px;
}


/* #left {
  padding: 0 35px;
} */

#middle {
  padding: 0 35px;
  border-left: .1rem solid #dae1e9;
  border-right: .1rem solid #dae1e9;
}

/* #right {
  padding: 0 35px;
} */



.box {
  width: 27.77%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.heading {
  font-size: 3.5rem;
  color: #2196F3;
}

.subtext {
  font-size: 1.2rem;
  color: #cccccc;
}