.linechart {
  padding: 8px;
}

.linechart_path {
  stroke-width: 3;
  fill: none;
}

.linechart_axis {
  stroke: red;
}

.linechart_point {
  fill: #ffffff;
  stroke-width: 2;
}

.linechart_area {
  padding: 8px;
  fill: rgb(0, 255, 81);
  stroke: none;
  opacity: .4;
}

.linechart_label {
  fill: black;
  font-weight: 700;
}

.hoverline {
  stroke: #cccccc;
  stroke-width: 1;
}