.hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 5px;
  border-radius: 4px;
  background-color: blue;    
  color: white;        
}

.price .date {
  font-weight: 700;
}
