$fwBold: 700;

$white: #ffffff;
$blue: #2196F3;
$black: #000000;
$grey: #cccccc;
$red: red;
$pattens_blue: #dae1e9;
$light_green: #00ff51;
$grimmy_grey: #777777;
$dim_grey: #666666;
$dark_grey: #444444;
$coal: #333333;
$midnight_blue: #00afaf;
$silver_grey: #bebebe;
$ghostwhite: ghostwhite;
$light_grey: rgba(235, 235, 235, .8);
