.linechart {
  padding: .8rem;

  &__path {
    stroke-width: 3;
    fill: none;
  }

  &__axis {
    stroke: red;
  }

  &__point {
    fill: #ffffff;
    stroke-width: 2;
  }

  &__area {
    padding: .8rem;
    fill: rgb(0, 255, 81);
    stroke: none;
    opacity: .4;
  }

  &__label {
    fill: black;
    font-weight: 700;
  }
}

.hoverline {
  stroke: #cccccc;
  stroke-width: 1;
}